<%- include('../../include/_headerAdmin')%>

<body>
	
	<div class="containerShop">
	<img src="https://api.roadmap.sh/v1-badge/wide/6524711aac8d22f2cf0c8d0d?variant=dark&roadmaps=nodejs%2Csql%2Cjavascript%2Cfull-stack" alt="roadmap.sh" />
<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
	<div class="backGroundImgJarLogin"></div>
	</div>
	
</body>
	<%- include('../../include/_footer')%>
<script src="js/js.js"></script>	

