<%- include('../../include/_header')%>

<body>
	
	<div class="containerRateUs">
		<div class="containerRateUsUsHead">
			<label class="LoginLabel">Give us Your <span class="HighLightWord">feedback!</span><br><br></label>
			</div>
			<div class="loginForm">
				<form method="post" action="/rateus">
					<label class="LoginLabel">Give <span class="HighLightWord">stars</span><br></label>
						<div class="rate">
							<input type="radio" id="star5" name="rate" value="5" />
							<label for="star5" title="text">5 stars</label>
							<input type="radio" id="star4" name="rate" value="4" />
							<label for="star4" title="text">4 stars</label>
							<input type="radio" id="star3" name="rate" value="3" />
							<label for="star3" title="text">3 stars</label>
							<input type="radio" id="star2" name="rate" value="2" />
							<label for="star2" title="text">2 stars</label>
							<input type="radio" id="star1" name="rate" value="1" />
							<label for="star1" title="text">1 star</label>
							</div><br>
							<input name="name" type="text" class="containerLoginInput" placeholder="My name"></input><br>
								<input name="email" type="email" class="containerLoginInput" placeholder="Email"></input><br>
									<textarea name="message" type="text" class="containerLoginInput" placeholder="My message"></textarea><br>
										<button class="containerLoginButton" type="submit">Submit</button><br>
										</form>
										<br><br>
											
											<label class="LoginLabel">List of <span class="HighLightWord">feedbacks:</span></label><br><br>
												<div class="listOfFeedbacks">
													<table>
														<tr>
															<th>NAME</th>
															<th>STARS</th>
															<th>MESSAGE</th>
															<hr>
														</tr>
														<% for(var i = 0; i < rateus.length; i++) { %>
															<tr>
																<td><%= rateus[i].name %></td>
																<td><%= rateus[i].rate %></td>
																<td><%= rateus[i].message %></td>
																
															</tr>
															
														<% } %>
														
													</table>
												</div>
											</div>
											<div class="backGroundImgJarLogin"></div>
											</div>
											
										</body>
										
										<script src="js/js.js"></script>	
										
																				