

<div class="footer">
	
	<div class="footerContainer" style="font-family: 'Barlow', sans-serif;">

		<table>
		
			<tr>
					<th>Service<br><hr></th>
					<th>Contact us<br><hr></th>
					<th>Terms<br><hr></th>
				</tr>
				<tr>
					<td><p>We have alot of flavors for cookies! <br><br> You can go for shop page and see the categories there!</p></td>
					<td>
					<iconify-icon width="50" icon="ic:baseline-email"></iconify-icon>
					<iconify-icon width="50" icon="mdi:linkedin"></iconify-icon>
					<iconify-icon width="50" icon="ic:baseline-facebook"></iconify-icon>
					<iconify-icon width="50" icon="mdi:instagram"></iconify-icon>
					</td>
					<td><p style="font-size:25px;"><a style="text-decoration:none; color:white;" href="#">Terms&Condetions</a></p></td>
				</tr>
				
			</table>
			
		</div>
		
</div>
	
</html>