<html>
	
	<head>
		<meta charset="utf-8" />
		
		<link rel="icon" href="" type="image/gif" />
		<title>Cookies</title>
		<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
		<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet">
		<link href="css/navBar.css" rel="stylesheet" />
		<link href="css/style.css" rel="stylesheet" />
		<link href="css/footer.css" rel="stylesheet" />
		<link href="css/container.css" rel="stylesheet" />
		<link href="css/responsive.css" rel="stylesheet" />
		<link href="css/about.css" rel="stylesheet" />
		<link href="css/login.css" rel="stylesheet" />
		<link href="css/contactus.css" rel="stylesheet" />
		<link href="css/rateus.css" rel="stylesheet" />
		<link href="css/cart.css" rel="stylesheet" />
		<link href="css/manageitems.css" rel="stylesheet" />
		<link href="css/shop.css" rel="stylesheet" />
		<script src="js/js.js"></script>
		
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;1,100&family=Lato:wght@300&family=PT+Sans&display=swap" rel="stylesheet">
		<script src="https://code.iconify.design/iconify-icon/1.0.7/iconify-icon.min.js"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

		<link
		rel="stylesheet"
		href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css"
		/>
		<link rel="icon" type="image/x-icon" href="img/cookiesIcon.png">
		<div class="navBar">
			<ul style="font-family: 'Barlow', sans-serif; font-weight:bold;">
				<img src="img/cookiesIcon.png">
				<li><a href="/messages">Messages</a></li>
				<li><a href="/feedback">Feedback</a></li>
				<li><a href="/manageitems">Manage Items</a></li>
				<li><a href="/orders">Orders</a></li>
				<li><a href="/ordersprepared">Orders Prepared</a></li>
				<li><a href="/ordersrevenue">Orders Revenue</a></li>
				<li><a href="/discount">Orders Discount</a></li>
				
				
				
			</ul>
			<ul>
				<li><a href="/login"><iconify-icon icon="iconoir:profile-circle"></iconify-icon></a></li>
				<li><a href="#"><iconify-icon icon="material-symbols:logout"></iconify-icon></a></li>
				<li><a data-mode="day" class="nightDayMode"><iconify-icon icon="mdi:lightbulb-moon-star"></iconify-icon></a></li>
			</ul>
			
		</div>
	</head>
	
	
